.container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  font-size: 1em;
  background-color: #246a73c0;
}

li {
  float: right;
  margin: 0.9rem;
  list-style-type: none;
  text-decoration: none;
}

li :visited {
  color: whitesmoke;
}

li :hover {
  color: black;
}
