@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a1e23;
  color: whitesmoke;
  letter-spacing: 0.2em;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.mainphoto {
  max-width: 100%;
  opacity: 0.5;
  text-align: center;
  margin: none;
  height: 32em;
  position: relative;
  z-index: -2;
}
.mainsentence {
  text-align: center;
  font-size: 1.3em;
  width: 35em;
  padding: 2em;
  line-height: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.coordinates {
  font-size: 1em;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margincontainer {
  height: auto;
  box-sizing: border-box;
  margin: 3em;
}

a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/* mouse over link */
a:hover {
  color: #00818a;
}

/* selected link */
a:active {
  color: whitesmoke;
}

.sections {
  font-size: 1.5em;
  text-decoration: underline;
  margin: 2em 2em 2em 0;
}

.example {
  height: 20em;
  box-sizing: border-box;
  display: flex;
  margin-top: 4em;
  margin-bottom: 4em;
}

.image {
  width: 50%;
  height: 80%;
  z-index: -1;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.description {
  width: 50%;
  height: auto;
  text-align: right;
  line-height: 1.4em;
  padding: 0em 0 1em 1em;
  font-size: 1em;
}

.technologies {
  width: 100%;
  height: 15em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

p {
  margin-left: 3em;
  margin-right: 3em;
}

.technologiesbox {
  width: 100%;
  height: 7em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  z-index: -1;
}

.photography {
  width: 100%;
  height: 90em;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.photocontainer {
  width: 100%;
  height: 85em;
  display: flex;
  flex-direction: column;
}

.photos {
  width: 100%;
  height: 30em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.photoitem1 {
  height: auto;
  border-style: solid;
  border-color: rgba(8, 82, 85, 0.952);
  margin: 0.7em;
  width: 25%;
  flex-basis: 2;
}

.photoitem1:nth-child(1) {
  border-color: rgba(8, 82, 85, 0.952);
  width: 15%;
}
.photoitem1:nth-child(2) {
  border-color: rgba(8, 82, 85, 0.952);
  width: 45%;
}

.photoitem2 {
  height: auto;
  border-style: solid;
  border-color: rgba(8, 82, 85, 0.952);
  margin: 0.7em;
  width: 25%;
  flex-basis: 2;
}

.photoitem2:nth-child(2) {
  border-color: rgba(8, 82, 85, 0.952);
  width: 15%;
}
.photoitem2:nth-child(3) {
  border-color: rgba(8, 82, 85, 0.952);
  width: 45%;
}

.photoitem {
  height: auto;
  border-style: solid;
  border-color: rgba(8, 82, 85, 0.952);
  margin: 0.7em;
  width: 25%;
  flex-basis: 2;
}

.photoitem:nth-child(1) {
  border-color: rgba(8, 82, 85, 0.952);
  width: 45%;
}
.photoitem:nth-child(3) {
  border-color: rgba(8, 82, 85, 0.952);
  width: 15%;
}

.aboutcontainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border-style: solid;
  justify-content: center;
}

.profilephoto {
  width: 40%;
  height: 40em;
  z-index: -1;
}

.mystory {
  width: 60%;

  text-align: center;
  padding: 2em;
  font-size: 1em;
}

.aboutme {
  width: 60%;
  height: 35em;
  padding: 2em;
  z-index: -3;
  opacity: 0.3;
  position: relative;
}

/* .mystory {
  width: 40%;
  font-size: 1.3em;
  position: absolute;
  text-align: right
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
} */

@media screen and (max-width: 740px) {
  .mainsentence {
    font-size: 1.5em;
    width: 35em;
  }
}

@media screen and (max-width: 830px) {
  .mainsentence {
    font-size: 1.3em;
    width: 35em;
  }
}

@media screen and (max-width: 768px) {
  .mainsentence {
    font-size: 1em;
    width: 25em;
  }

  .description {
    font-size: 1em;
    width: 100%;
    height: 50%;
    padding: 2em 0 1em 1em;
    box-sizing: border-box;
  }

  .image {
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .example {
    height: 30em;
    flex-direction: column;
  }

  .technologies {
    height: 25em;
  }

  .technologies p {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .technologiesbox {
    height: 15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .photography {
    height: 150em;
  }
  .photocontainer {
    height: 145em;
    flex-direction: column;
  }

  .photos {
    height: 50em;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .photoitem1 {
    height: 45%;
  }

  .photoitem1:nth-child(1) {
    border-color: rgba(118, 191, 194, 0.952);
    width: 90%;
    height: 50%;
  }
  .photoitem1:nth-child(2) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 50%;
    height: 40%;
  }

  .photoitem1:nth-child(3) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 35%;
    height: 40%;
  }

  .photoitem2 {
    height: 45%;
  }

  .photoitem2:nth-child(1) {
    border-color: rgba(118, 191, 194, 0.952);
    width: 90%;
    height: 50%;
  }
  .photoitem2:nth-child(3) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 50%;
    height: 30%;
  }

  .photoitem2:nth-child(2) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 35%;
    height: 30%;
  }

  .photoitem {
    height: 45%;
  }

  .photoitem:nth-child(1) {
    border-color: rgba(118, 191, 194, 0.952);
    width: 90%;
    height: 50%;
  }
  .photoitem:nth-child(3) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 50%;
    height: 30%;
  }

  .photoitem:nth-child(2) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 35%;
    height: 30%;
  }

  .footercontainer {
    padding: 2em;
    height: 15em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.7em;
  }

  .aboutcontainer {
    display: flex;
    flex-direction: column;
  }

  .profilephoto {
    width: 100%;
    height: 20em;
  }

  .aboutme {
    width: 100%;
    height: 15em;
  }
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 16px;
  }

  .mainsentence {
    font-size: 1em;
    padding: 2em;
    line-height: 2.5em;
    width: 23em;
  }

  .coordinates {
    font-size: 0.7em;
  }

  .description {
    font-size: 0.8em;
    width: 100%;
    height: 50%;

    box-sizing: border-box;
  }

  .image {
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .example {
    height: 30em;
    flex-direction: column;
  }
  p {
    font-size: 1em;
  }

  .technologies {
    height: 25em;
  }

  .technologiesbox {
    height: 15em;
  }

  .photography {
    height: 255em;
  }
  .photocontainer {
    height: 245em;
    flex-direction: column;
  }

  .photos {
    height: 250em;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .photoitem1 {
    height: 20em;
  }

  .photoitem1:nth-child(1) {
    border-color: rgba(118, 191, 194, 0.952);
    width: 90%;
    height: 25em;
  }
  .photoitem1:nth-child(2) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 90%;
    height: 25em;
  }

  .photoitem1:nth-child(3) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 90%;
    height: 25em;
  }

  .photoitem2 {
    height: 20em;
  }

  .photoitem2:nth-child(1) {
    border-color: rgba(118, 191, 194, 0.952);
    width: 90%;
    height: 25em;
  }
  .photoitem2:nth-child(2) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 90%;
    height: 25em;
  }

  .photoitem2:nth-child(3) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 90%;
    height: 25em;
  }

  .photoitem {
    height: 20em;
  }

  .photoitem:nth-child(1) {
    border-color: rgba(118, 191, 194, 0.952);
    width: 90%;
    height: 25em;
  }
  .photoitem:nth-child(2) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 90%;
    height: 25em;
  }

  .photoitem:nth-child(3) {
    border-color: rgba(8, 85, 37, 0.952);
    width: 90%;
    height: 25em;
  }

  .margincontainer {
    margin: 1em;
  }

  .footercontainer {
    padding: 2em;
    height: 15em;
  }

  h5 {
    font-size: 0.7em;
  }

  h6 {
    font-size: 0.6em;
  }

  .sections {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 405px) {
  .example {
    height: 30em;
  }
}

@media screen and (max-width: 440px) {
  .mainsentence {
    font-size: 0.8em;
    width: 25em;
    height: 20em;
    margin-bottom: 2em;
  }

  .technologies {
    height: 30em;
  }
  .technologiesbox {
    height: 15em;
  }
  p {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 340px) {
  .mainsentence {
    font-size: 0.8em;
    width: 23em;
    height: 25em;
    margin-bottom: 2em;
  }
}
